.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: rgba(115, 193, 110, 0.2);
    /* background-image: image(heroimg); */
    min-height: 70vh;
    /* white-space: nowrap; */
    width: 100%; 
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 0rem;
    color: #F28628;
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #bd6b23;
  }
  
  .hero-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto; 
  }
  
  .hero-filter {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    outline: none;
  }
  
  .hero-search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    flex: 1;
    outline: none;
  }
  
  .hero-search-input::placeholder {
    color: #aaa;
  }
  
  .hero-button {
    padding: 0.7rem 1.5rem;
    background-color: #73C16E;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero-button:hover {
    background-color: #5a8457;
  }
  
  @media (max-width: 768px) {
    .hero-title {
      font-size: 2rem;
    }
  
    .hero-subtitle {
      font-size: 1rem;
    }
  
    .hero-search {
      flex-direction: column;
      width: 80%; /* Make search bar wider on smaller screens */
    }
  
    .hero-filter,
    .hero-search-input {
      width: 100%;
      margin-bottom: 0.5rem;
      border-radius: 5px;
    }
  
    .hero-search-input {
      border-left: 1px solid #ccc;
    }
  }
  