.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0;
    padding: 0 120px; /* padding on the left and right to keep content centered */
    background-color: #fff5e1; 
    color: #F28628;
}


.nav-logo{
    font-family: Outfit;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 70px;
}

.nav-diet{
    border-radius: 50px;
    padding: 10px 38px;
    background-color: #F28628;
    color: white;
}