.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0;
    padding: 5px 120px; /* padding on the left and right to keep content centered */
    background-color: #fff5e1; 
    color: #F28628;
}


.nav-logo{
    font-family: Outfit;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    color: #F28628;
    gap: 70px;
}

.navbar-link_diet{
    text-decoration: none; 
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #F28628;
    color: white;
}

.navbar-link {
    text-decoration: none; /* Removes the underline */ 
    color: #F28628;
}

/* .navbar-link:hover {
background-color: #FF8C00; /* Highlight on hover */

